<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title layout:title="Inicio" />
</head>
<body>
<section layout:fragment="content" class="">
    <div class="w-[80%] md:w-[500px] bg-white shadow-md">
        <header>
            <h1>Upload Video</h1>
            <div class="separator"></div>

        </header>

    </div>
</section>

<div layout:fragment="scripts">
    <script>
        console.log("Script específico de index");
    </script>
</div>
</body>
</html>