<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title layout:title="Inicio" />
</head>
<section layout:fragment="content" class="">

    <form class="mx-auto w-[90%] rounded-lg border border-gray-400/15 bg-white pt-2 shadow-lg md:w-[500px]" id="form">
        <input id="fileInput" type="file" hidden required accept="video/*" />
        <header class="flex justify-between px-4 py-5">
            <h1 class="text-xl font-bold text-gray-700">Upload Video</h1>
            <svg class="e h-6 w-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
            </svg>
        </header>

        <div class="border-b-2 border-gray-400/15"></div>

        <div class="px-4 py-5">
            <label for="fileInput" id="dropContainer" class="flex h-[200px] w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-400/50">
                <div>
                    <svg id="icon-drop" class="size-6 h-20 w-20 text-gray-400/50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M9.97.97a.75.75 0 0 1 1.06 0l3 3a.75.75 0 0 1-1.06 1.06l-1.72-1.72v3.44h-1.5V3.31L8.03 5.03a.75.75 0 0 1-1.06-1.06l3-3ZM9.75 6.75v6a.75.75 0 0 0 1.5 0v-6h3a3 3 0 0 1 3 3v7.5a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3h3Z" />
                        <path d="M7.151 21.75a2.999 2.999 0 0 0 2.599 1.5h7.5a3 3 0 0 0 3-3v-7.5c0-1.11-.603-2.08-1.5-2.599v7.099a4.5 4.5 0 0 1-4.5 4.5H7.151Z" />
                    </svg>
                </div>
                <p class="text-lg font-semibold text-gray-700" id="title-drop">Select a video file to upload</p>
                <p class="text-xs font-bold text-gray-400">Or drag and drop it here</p>
            </label>
        </div>

        <div class="px-4 py-5 pt-0">
            <p>Select video file from your system</p>
            <label for="fileInput" class="flex cursor-pointer items-center justify-between rounded-lg border-1 border-gray-400/40 bg-[#F9F9F9] px-3 py-2">
                <p class="text-gray-400" id="fileNameDisplay">Add the video file</p>
                <button type="submit" class="rounded-md border-1 border-gray-400/40 px-4 py-1 text-sm cursor-pointer">Upload</button>
            </label>
        </div>
    </form>

</section>

<div layout:fragment="scripts">
    <script src="/js/index.js"></script>
</div>
</body>
</html>